In [21]:
import requests
import pandas as pd
import numpy as np
import csv

city_data_input_file = pd.read_excel("../../../downloads/tocopycitydata.xlsx")
zipcode_file = pd.read_excel("../../../downloads/Zips2010_90.xlsx")
# csv_zip_file = zip_df.to_csv()

city_data_df = pd.DataFrame(
     {'Unique Key' : city_data_input_file["Unique Key"],
        'Created Date' : city_data_input_file["Created Date"],
        'Closed Date' : city_data_input_file["Closed Date"],
        'Complaint Type' : city_data_input_file["Complaint Type"],
        'Incident Zip' : city_data_input_file["Incident Zip"],
        'Status' : city_data_input_file["Status"],
        'Borough' : city_data_input_file["Borough"]
     })

# populations_df = pd.DataFrame(
#     {
#         'Incident Zip': zipcode_file['Incident Zips'],
#         'Population': zipcode_file['Population']
#     }
# )


def group_boroughs_by_zips():

    borough_list = ["BROOKLYN", "QUEENS", "BRONX", "STATEN ISLAND", "MANHATTAN"]

    borough_zips = {
    "BROOKLYN" : [],
    "QUEENS": [],
    "BRONX": [],
    "STATEN ISLAND": [],
    "MANHATTAN": []
}
    for index, row in city_data_input_file.iterrows():
        for borough in borough_list:
            if row["Borough"] == borough:
                borough_zips[borough].append(row['Incident Zip'])
    
    return(borough_zips)

In [22]:
brooklyn_zips = group_boroughs_by_zips()['BROOKLYN']
queens_zips = group_boroughs_by_zips()['QUEENS']
bronx_zips = group_boroughs_by_zips()['BRONX']
manhattan_zips = group_boroughs_by_zips()['MANHATTAN']
si_zips = group_boroughs_by_zips()['STATEN ISLAND']

In [23]:
brooklyn_series = pd.Series(brooklyn_zips).dropna().unique()
queens_series = pd.Series(queens_zips).dropna().unique()
bronx_series = pd.Series(bronx_zips).dropna().unique()
manhattan_series = pd.Series(manhattan_zips).dropna().unique()
si_series = pd.Series(si_zips).dropna().unique()


        
# brooklyn_series #iterate through zipcode_file, checking if in brooklyn_series. 
#if so, increment counter of brooklyn_pop

In [24]:
queens_series

array([11436., 11417., 11368., 11378., 11433., 11412., 11385., 11419.,
       11413., 11356., 11103., 11418., 11375., 11374., 11105., 11106.,
       11369., 11363., 11434., 11423., 11421., 11370., 11361., 11372.,
       11362., 11358., 11692., 11360., 11414., 11691., 11427., 11365.,
       11364., 11366., 11435., 11373., 11377., 11379., 11428., 11355.,
       11422., 11420., 11357., 11367., 11354., 11104., 11693., 11102.,
       11416., 11432., 11101., 11429., 11415., 11040., 11411., 11001.,
       11426., 11430., 11694., 11371., 11004., 11208.])

In [25]:
def count_brooklyn_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in brooklyn_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [26]:
def count_queens_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in queens_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [27]:
def count_bronx_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in bronx_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [28]:
def count_manhattan_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        print(row)
#         for zipcode in manhattan_series:
#             incident_zips_value = row['Incident Zips']
#             if zipcode == incident_zips_value:
#                 borough_counter += int(incident_zips_value)
               
            

    
    print (borough_counter)

In [29]:
def count_si_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in si_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [30]:
queens_pop = count_queens_people()
brooklyn_pop = count_brooklyn_people()
si_pop = count_si_people()
bronx_pop = count_bronx_people()
# pd.DataFrame(manhattan_pop = count_manhattan_people()

704554
415151
123681
261575

In [31]:

population_df = pd.DataFrame(
    {
        "BROOKLYN" : '261575',
        "QUEENS": '415151',
        "BRONX": '123681',
        "STATEN ISLAND": '261575',
        "MANHATTAN": '261575'
    }, index={0}
)

In [32]:
pop_dict = population_df.to_dict()
pop_dict

{'BROOKLYN': {0: '261575'},
 'QUEENS': {0: '415151'},
 'BRONX': {0: '123681'},
 'STATEN ISLAND': {0: '261575'},
 'MANHATTAN': {0: '261575'}}

In [33]:
queens_pop

In [34]:
total_complaints_borough = city_data_input_file.groupby("Borough").size().to_dict()
total_complaints_borough

{'BRONX': 8699,
 'BROOKLYN': 14437,
 'Borough': 17,
 'MANHATTAN': 7738,
 'QUEENS': 11108,
 'STATEN ISLAND': 2061,
 'Unspecified': 973}

In [35]:
total_complaints_data_frame = pd.DataFrame.from_dict(total_complaints_borough, orient='index', columns=['Complainer Totals'])

total_complaints_data_frame

               Complainer Totals
BRONX                       8699
BROOKLYN                   14437
Borough                       17
MANHATTAN                   7738
QUEENS                     11108
STATEN ISLAND               2061
Unspecified                  973

In [36]:
pop_dict['MANHATTAN'][0]

'261575'

In [45]:
total_complaints_borough["BRONX"]

# populations #
pop_dict = population_df.to_dict()
brooklyn_pop = pop_dict['BROOKLYN'][0]
queens_pop = pop_dict['QUEENS'][0]
bronx_pop = pop_dict['BRONX'][0]
si_pop = pop_dict['STATEN ISLAND'][0]
manhattan_pop = pop_dict['MANHATTAN'][0]

complainer_totals = {
    'BROOKLYN': int(total_complaints_borough['BROOKLYN']),
    'QUEENS': int(total_complaints_borough['QUEENS']),
    'BRONX': int(total_complaints_borough['BRONX']),
    'STATEN ISLAND': int(total_complaints_borough['STATEN ISLAND']),
    'MANHATTAN': int(total_complaints_borough['MANHATTAN'])    
}

brooklyn_populace = pd.DataFrame( ## brooklyn 
    {
        "Borough": "BROOKLYN",
        "Complainer Totals": complainer_totals["BROOKLYN"], 
        "Complainer-Index": complainer_totals["BROOKLYN"]/int(brooklyn_pop),
        "Population": brooklyn_pop
    }, index={0}
)


queens_populace = pd.DataFrame( ## queens 
    {
        "Borough": "QUEENS",
        "Complainer Totals": complainer_totals["QUEENS"], 
        "Complainer-Index": complainer_totals["QUEENS"]/int(queens_pop),
        "Population": queens_pop
        
        
    }, index={0}
)

bronx_populace = pd.DataFrame( ## bronx 
    {
        "Borough": "BRONX",
        "Complainer Totals": complainer_totals["BRONX"], 
        "Complainer-Index": complainer_totals["BRONX"]/int(bronx_pop),
        "Population": bronx_pop
        
    }, index={0}
)

si_populace = pd.DataFrame( ## staten island 
    {
        "Borough": "STATEN ISLAND",
        "Complainer Totals": complainer_totals["STATEN ISLAND"], 
        "Complainer-Index": complainer_totals["STATEN ISLAND"]/int(si_pop),
        "Population": si_pop
        
    }, index={0}
)

manhattan_populace = pd.DataFrame( ## staten island 
    {
        "Borough": "MANHATTAN",
        "Complainer Totals": total_complaints_borough["MANHATTAN"], 
        "Complainer-Index": complainer_totals["MANHATTAN"]/int(manhattan_pop),
        "Population": manhattan_pop
        
    }, index={0}
)
brooklyn_pop

'261575'

In [49]:
all_boroughs = brooklyn_populace.append([queens_populace, bronx_populace, si_populace, manhattan_populace])
all_boroughs

         Borough  Complainer Totals  Complainer-Index Population
0       BROOKLYN              14437          0.055193     261575
0         QUEENS              11108          0.026757     415151
0          BRONX               8699          0.070334     123681
0  STATEN ISLAND               2061          0.007879     261575
0      MANHATTAN               7738          0.029582     261575

In [13]:
# populations = {}

# for index, row in populations_df.iterrows():
#     incident_zips_row_value = row['Incident Zip']
#     population_row_value = row['Population']

In [14]:
# incident_zips_row_value

In [15]:
# population_row_value

In [ ]:
def count_manhattan_people():
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
#         print(int(row['Population']))
        for zipcode in manhattan_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)

  Borough  Complainer Totals  Complainer-Index Population
0  QUEENS              11108          0.026757     415151

{'BROOKLYN': 14437,
 'QUEENS': 11108,
 'BRONX': 8699,
 'STATEN ISLAND': 2061,
 'MANHATTAN': 7738}

  Borough  Complainer Totals  Complainer-Index Population
0  QUEENS              11108          0.026757     415151

In [50]:

def count_brooklyn_people():
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in brooklyn_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)


def count_queens_people():

    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in queens_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)


def count_bronx_people():

    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in bronx_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)


def count_manhattan_people():
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
#         print(int(row['Population']))
        for zipcode in manhattan_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)


def count_si_people():

    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in si_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
    print (borough_counter)

In [53]:
si_people = count_si_people() #refactor
brooklyn_people = count_manhattan_people()
bronx_people = count_bronx_people()
queens = count_queens_people()
brooklyn = count_brooklyn_people()

123681
411341
261575
704554
415151