In [13]:
import requests
import pandas as pd
import numpy as np
import csv
borough_zips = {}
city_data_input_file = pd.read_excel("../../../downloads/tocopycitydata.xlsx")
zipcode_file = pd.read_excel("../../../downloads/Zips2010_90.xlsx")
# csv_zip_file = zip_df.to_csv()

city_data_df = pd.DataFrame(
     {'Unique Key' : city_data_input_file["Unique Key"],
        'Created Date' : city_data_input_file["Created Date"],
        'Closed Date' : city_data_input_file["Closed Date"],
        'Complaint Type' : city_data_input_file["Complaint Type"],
        'Incident Zip' : city_data_input_file["Incident Zip"],
        'Status' : city_data_input_file["Status"],
        'Borough' : city_data_input_file["Borough"]
     })
city_data_input_file


# re_excelled_zip = zip_df.to_excel('re_excelled_zip.xlsx')
# re_excelled_city_data = city_data_df.to_excel('re_excelled_city_data.xlsx')
# zip_code_data_to_merge = pd.read_excel(re_excelled_zip)
# city_data_to_merge = pd.read_excel(re_excelled_city_data)

# city_data_to_merge
# zip_table = df.loc[df.Borough == 'BRONX']
# pd.merge(city_data_df, zip_df, on='Incident Zip', how='right') # try with just tables alone
# pd.merge(city_data_input_file, zipcode_file, how='right')

# df1.to_excel("output.xlsx")  # doctest: +SKIP
population_to_be_added = {}

# def population_finder():

def group_zips_by_borough(): # refactor
	endpoint = "https://data.cityofnewyork.us/resource/fhrw-4uyv.json?$where=incident_zip IS NOT NULL"
	response = requests.get(endpoint)
	print (response.json())
	borough_zips = {}

# 	# Get ditionary containing zip code population data
# 	populations = read_zip_population_data()
# 	populations


populations_df = pd.DataFrame(
    {
        'Incident Zip': zipcode_file['Incident Zips'],
        'Population': zipcode_file['Population']
    }
)

populations_df['Incident Zip']

# populations = read_zip_population_data()
# populations


# def read_zip_population_data():

populations = {}
#     incident_zips_column = zipcode_file[row]
#     population_column = zipcode_file[row]

for index, row in populations_df.iterrows():
    incident_zips_row_value = row['Incident Zip']
    population_row_value = row['Population']



# for row in zipcode_file:
# # 		print(zipcode_file[row])

# 		print(zipcode_file)
#     for other
# 		key, value = row
# 		populations[key] = value
# 	return populations


def group_boroughs_by_zips():

    borough_list = ["BROOKLYN", "QUEENS", "BRONX", "STATEN ISLAND", "MANHATTAN"]

    borough_zips = {
    "BROOKLYN" : [],
    "QUEENS": [],
    "BRONX": [],
    "STATEN ISLAND": [],
    "MANHATTAN": []
}
    for index, row in city_data_input_file.iterrows():
        for borough in borough_list:
            if row["Borough"] == borough:
                borough_zips[borough].append(row['Incident Zip'])
    
    return(borough_zips)

def define_pop_of_boroughs():
    
    borough_pop_dictionary = {
    "BROOKLYN" : 0,
    "QUEENS": 0,
    "BRONX": 0,
    "STATEN ISLAND": 0,
    "MANHATTAN": 0
    }
    print(borough_pop_dictionary)

In [5]:
define_pop_of_boroughs()

{'BROOKLYN': 0, 'QUEENS': 0, 'BRONX': 0, 'STATEN ISLAND': 0, 'MANHATTAN': 0}

In [5]:
print(';d')

;d

In [119]:
brooklyn_zips = group_boroughs_by_zips()['BROOKLYN']
queens_zips = group_boroughs_by_zips()['QUEENS']
bronx_zips = group_boroughs_by_zips()['BRONX']
manhattan_zips = group_boroughs_by_zips()['MANHATTAN']
si_zips = group_boroughs_by_zips()['STATEN ISLAND']

[11218,
 11206,
 11206,
 11224,
 11224,
 11207,
 11207,
 11208,
 11208,
 11215,
 11215,
 11223,
 11223,
 11229,
 11229,
 11203,
 11203,
 11231,
 11231,
 11209,
 11209,
 11234,
 11234,
 11215,
 11215,
 11209,
 11209,
 11236,
 11236,
 11235,
 11235,
 11209,
 11209,
 11237,
 11237,
 11238,
 11238,
 11215,
 11215,
 11221,
 11221,
 11238,
 11238,
 11223,
 11223,
 11237,
 11237,
 11210,
 11210,
 11233,
 11233,
 11219,
 11219,
 11226,
 11226,
 11208,
 11208,
 11231,
 11231,
 11213,
 11213,
 11221,
 11221,
 11234,
 11234,
 11234,
 11234,
 11220,
 11220,
 11204,
 11204,
 11213,
 11213,
 11212,
 11212,
 11206,
 11206,
 11225,
 11225,
 11220,
 11220,
 11234,
 11234,
 11231,
 11231,
 11210,
 11210,
 11216,
 11216,
 11229,
 11229,
 11233,
 11233,
 11214,
 11214,
 11212,
 11212,
 11216,
 11216,
 nan,
 nan,
 11204,
 11204,
 11228,
 11228,
 11229,
 11229,
 11203,
 11203,
 11210,
 11210,
 11206,
 11206,
 11212,
 11212,
 11209,
 11209,
 11209,
 11209,
 11226,
 11226,
 11249,
 11249,
 11213,
 11213,
 11215,
 11215,
 11232,
 11232,
 11212,
 11212,
 11212,
 11212,
 11213,
 11213,
 11234,
 11234,
 11225,
 11225,
 11238,
 11238,
 11213,
 11213,
 11216,
 11216,
 11214,
 11214,
 11204,
 11204,
 11211,
 11211,
 11212,
 11212,
 11235,
 11235,
 11212,
 11212,
 11218,
 11218,
 11238,
 11238,
 11237,
 11237,
 11249,
 11249,
 11205,
 11215,
 11215,
 11220,
 11220,
 11208,
 11208,
 11214,
 11214,
 11229,
 11229,
 11203,
 11203,
 11228,
 11228,
 11214,
 11214,
 11231,
 11231,
 11235,
 11235,
 11211,
 11211,
 11201,
 11201,
 11233,
 11233,
 11210,
 11210,
 11228,
 11228,
 11205,
 11205,
 11222,
 11222,
 11207,
 11207,
 11209,
 11209,
 11235,
 11235,
 11209,
 11209,
 11209,
 11209,
 11215,
 11215,
 11209,
 11209,
 11206,
 11206,
 11237,
 11237,
 11249,
 11249,
 11209,
 11209,
 nan,
 nan,
 11230,
 11230,
 11218,
 11218,
 11213,
 11213,
 11222,
 11222,
 11233,
 11233,
 11207,
 11207,
 11228,
 11228,
 11230,
 11230,
 11216,
 11216,
 11210,
 11210,
 11226,
 11226,
 11221,
 11221,
 11201,
 11201,
 11205,
 11205,
 11208,
 11208,
 11234,
 11234,
 11207,
 11207,
 11201,
 11201,
 11228,
 11228,
 11207,
 11207,
 11209,
 11209,
 11207,
 11207,
 11222,
 11222,
 11235,
 11235,
 11219,
 11219,
 11207,
 11207,
 11223,
 11223,
 11218,
 11218,
 11220,
 11220,
 11226,
 11226,
 11205,
 11205,
 11207,
 11207,
 11221,
 11221,
 11219,
 11219,
 11214,
 11214,
 11212,
 11212,
 11229,
 11229,
 11223,
 11223,
 11234,
 11234,
 11229,
 11229,
 11231,
 11231,
 11209,
 11209,
 11237,
 11237,
 11235,
 11235,
 11226,
 11226,
 11212,
 11212,
 11228,
 11228,
 11230,
 11230,
 11209,
 11209,
 11236,
 11236,
 11213,
 11213,
 11226,
 11226,
 11214,
 11214,
 11208,
 11208,
 11219,
 11219,
 11208,
 11208,
 11220,
 11220,
 11218,
 11218,
 11226,
 11226,
 11221,
 11221,
 11213,
 11213,
 11216,
 11216,
 11219,
 11219,
 11205,
 11205,
 11249,
 11249,
 11213,
 11213,
 11210,
 11210,
 11206,
 11206,
 11216,
 11216,
 11213,
 11213,
 11219,
 11219,
 11203,
 11203,
 11215,
 11215,
 11209,
 11209,
 11209,
 11209,
 11213,
 11213,
 11226,
 11226,
 11228,
 11228,
 11213,
 11213,
 11236,
 11236,
 11216,
 11216,
 11209,
 11209,
 11229,
 11229,
 11209,
 11209,
 11229,
 11229,
 11207,
 11207,
 11206,
 11206,
 11216,
 11216,
 11223,
 11223,
 11226,
 11204,
 11204,
 11233,
 11233,
 11221,
 11221,
 11235,
 11235,
 11226,
 11226,
 11226,
 11226,
 11208,
 11208,
 11233,
 11233,
 11205,
 11225,
 11225,
 11213,
 11213,
 11207,
 11207,
 11201,
 11201,
 11213,
 11213,
 11214,
 11214,
 11204,
 11204,
 11218,
 11218,
 11223,
 11223,
 11231,
 11231,
 11209,
 11209,
 11228,
 11228,
 11236,
 11236,
 11216,
 11216,
 11215,
 11215,
 11220,
 11220,
 11220,
 11220,
 11209,
 11209,
 11239,
 11239,
 11203,
 11225,
 11225,
 11249,
 11249,
 11206,
 11206,
 11212,
 11212,
 11209,
 11209,
 11226,
 11226,
 11203,
 11203,
 11215,
 11215,
 11226,
 11226,
 11224,
 11224,
 11212,
 11212,
 11213,
 11213,
 11218,
 11218,
 11218,
 11218,
 11210,
 11210,
 11209,
 11209,
 11216,
 11216,
 11226,
 11226,
 11230,
 11230,
 11218,
 11218,
 11210,
 11210,
 11208,
 11208,
 11216,
 11216,
 11212,
 11212,
 11238,
 11238,
 11229,
 11229,
 11236,
 11236,
 11208,
 11208,
 11204,
 11204,
 11216,
 11216,
 11215,
 11215,
 11233,
 11233,
 11232,
 11232,
 11211,
 11211,
 11210,
 11210,
 11203,
 11203,
 11213,
 11213,
 11201,
 11201,
 11233,
 11233,
 11225,
 11225,
 11208,
 11208,
 11215,
 11215,
 11210,
 11210,
 11237,
 11237,
 11216,
 11216,
 11212,
 11212,
 11207,
 11207,
 11203,
 11203,
 11217,
 11217,
 11215,
 11215,
 11237,
 11237,
 11228,
 11228,
 11220,
 11220,
 11235,
 11235,
 11209,
 11209,
 11224,
 11224,
 11209,
 11209,
 11215,
 11215,
 11224,
 11224,
 11225,
 11225,
 11233,
 11233,
 11215,
 11215,
 11222,
 11222,
 11249,
 11249,
 11228,
 11228,
 11220,
 11220,
 11228,
 11228,
 11209,
 11209,
 11215,
 11215,
 11209,
 11209,
 11226,
 11226,
 11231,
 11231,
 11218,
 11218,
 11215,
 11215,
 11218,
 11218,
 11236,
 11236,
 11206,
 11206,
 11226,
 11226,
 11236,
 11236,
 11222,
 11222,
 11232,
 11232,
 11238,
 11238,
 11236,
 11236,
 11235,
 11235,
 11223,
 11223,
 11229,
 11229,
 11223,
 11223,
 11219,
 11219,
 11236,
 11236,
 11229,
 11229,
 11223,
 11223,
 11208,
 11208,
 11207,
 11207,
 11213,
 11213,
 11221,
 11221,
 11206,
 11206,
 11216,
 11216,
 11203,
 11203,
 11210,
 11210,
 11208,
 11208,
 11216,
 11216,
 11226,
 11226,
 11207,
 11207,
 11218,
 11218,
 11220,
 11220,
 11210,
 11210,
 11225,
 11225,
 11217,
 11217,
 11218,
 11218,
 11216,
 11216,
 11205,
 11205,
 11203,
 11203,
 11225,
 11225,
 11220,
 11220,
 11210,
 11210,
 11216,
 11216,
 11226,
 11226,
 11249,
 11249,
 11216,
 11216,
 11231,
 11231,
 11229,
 11229,
 11213,
 11213,
 11215,
 11215,
 11236,
 11236,
 11236,
 11236,
 11215,
 11215,
 11228,
 11228,
 11223,
 11223,
 11216,
 11216,
 11215,
 11215,
 11238,
 11238,
 11210,
 11210,
 11226,
 11226,
 11220,
 11220,
 11234,
 11234,
 11218,
 11206,
 11206,
 11224,
 11224,
 11207,
 11207,
 11208,
 11208,
 11215,
 11215,
 11223,
 11223,
 11229,
 11229,
 11203,
 11203,
 11231,
 11231,
 11209,
 11209,
 11234,
 11234,
 11215,
 11215,
 11209,
 11209,
 11236,
 11236,
 11235,
 11235,
 11209,
 11209,
 11237,
 11237,
 11238,
 11238,
 11215,
 11215,
 11221,
 11221,
 11238,
 11238,
 11223,
 11223,
 11237,
 11237,
 11210,
 11210,
 11233,
 11233,
 11219,
 11219,
 11226,
 11226,
 11208,
 11208,
 11231,
 11231,
 11213,
 11213,
 11221,
 11221,
 11234,
 11234,
 11234,
 11234,
 11220,
 11220,
 11204,
 11204,
 11213,
 11213,
 11212,
 11212,
 11206,
 11206,
 11225,
 11225,
 11220,
 11220,
 11234,
 11234,
 11231,
 11231,
 11210,
 11210,
 11216,
 11216,
 11229,
 11229,
 11233,
 11233,
 11214,
 11214,
 11212,
 11212,
 11216,
 11216,
 nan,
 nan,
 11204,
 11204,
 11228,
 11228,
 11229,
 11229,
 11203,
 11203,
 11210,
 11210,
 11206,
 11206,
 11212,
 11212,
 11209,
 11209,
 11209,
 11209,
 11226,
 11226,
 11249,
 11249,
 11213,
 11213,
 11215,
 11215,
 11232,
 11232,
 11212,
 11212,
 11212,
 11212,
 11213,
 11213,
 11234,
 11234,
 11225,
 11225,
 11238,
 11238,
 11213,
 11213,
 11216,
 11216,
 11214,
 11214,
 11204,
 11204,
 11211,
 11211,
 11212,
 11212,
 11235,
 11235,
 11212,
 11212,
 11218,
 11218,
 11238,
 11238,
 11237,
 11237,
 11249,
 11249,
 11205,
 11215,
 11215,
 11220,
 11220,
 11208,
 11208,
 11214,
 11214,
 11229,
 11229,
 11203,
 11203,
 11228,
 11228,
 11214,
 11214,
 11231,
 11231,
 11235,
 11235,
 11211,
 11211,
 11201,
 11201,
 11233,
 11233,
 11210,
 11210,
 11228,
 11228,
 11205,
 11205,
 11222,
 11222,
 11207,
 11207,
 11209,
 11209,
 11235,
 11235,
 11209,
 11209,
 11209,
 11209,
 11215,
 11215,
 11209,
 11209,
 11206,
 11206,
 11237,
 11237,
 11249,
 11249,
 11209,
 11209,
 nan,
 nan,
 11230,
 11230,
 11218,
 11218,
 11213,
 11213,
 11222,
 11222,
 11233,
 11233,
 11207,
 11207,
 11228,
 11228,
 11230,
 11230,
 11216,
 11216,
 11210,
 11210,
 11226,
 11226,
 11221,
 11221,
 11201,
 11201,
 11205,
 11205,
 11208,
 11208,
 11234,
 11234,
 11207,
 11207,
 11201,
 11201,
 11228,
 11228,
 11207,
 11207,
 11209,
 11209,
 11207,
 11207,
 11222,
 11222,
 11235,
 ...]

In [130]:
brooklyn_series = pd.Series(brooklyn_zips).dropna().unique()
queens_series = pd.Series(queens_zips).dropna().unique()
bronx_series = pd.Series(bronx_zips).dropna().unique()
manhattan_series = pd.Series(manhattan_zips).dropna().unique()
si_series = pd.Series(si_zips).dropna().unique()


        
# brooklyn_series #iterate through zipcode_file, checking if in brooklyn_series. 
#if so, increment counter of brooklyn_pop

In [131]:
queens_series

array([11436., 11417., 11368., 11378., 11433., 11412., 11385., 11419.,
       11413., 11356., 11103., 11418., 11375., 11374., 11105., 11106.,
       11369., 11363., 11434., 11423., 11421., 11370., 11361., 11372.,
       11362., 11358., 11692., 11360., 11414., 11691., 11427., 11365.,
       11364., 11366., 11435., 11373., 11377., 11379., 11428., 11355.,
       11422., 11420., 11357., 11367., 11354., 11104., 11693., 11102.,
       11416., 11432., 11101., 11429., 11415., 11040., 11411., 11001.,
       11426., 11430., 11694., 11371., 11004., 11208.])

In [167]:
def count_brooklyn_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in brooklyn_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [166]:
def count_queens_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in queens_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [165]:
def count_bronx_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in bronx_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [169]:
def count_manhattan_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in manhattan_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
               
            

    
    print (borough_counter)

In [168]:
def count_si_people():
    
    borough_counter = 0 # dictionary of boroughs or you will need to append tables together.
    for index, row in zipcode_file.iterrows():
        for zipcode in si_series:
            incident_zips_value = row['Incident Zips']
            if zipcode == incident_zips_value:
                borough_counter += int(incident_zips_value)
                
            

    
    print (borough_counter)

In [170]:
queens_pop = count_queens_people()
brooklyn_pop = count_brooklyn_people()
si_pop = count_si_people()
bronx_pop = count_bronx_people()
pd.DataFrame(manhattan_pop = count_manhattan_people()

704554
415151
123681
261575
411341

In [208]:
queens_pop

In [193]:

population_df = pd.DataFrame(
    {
        "BROOKLYN" : '261575',
        "QUEENS": '415151',
        "BRONX": '123681',
        "STATEN ISLAND": '261575',
        "MANHATTAN": '261575'
    }, index={0}
)

In [300]:
pop_dict = population_df.to_dict()
pop_dict

{'BROOKLYN': {0: '261575'},
 'QUEENS': {0: '415151'},
 'BRONX': {0: '123681'},
 'STATEN ISLAND': {0: '261575'},
 'MANHATTAN': {0: '261575'}}

         Borough Population Complainer-Index
0       Brooklyn     415151                0
0         Queens     704554                0
0          Bronx     123681                0
0  Staten Island     261575                0
0      Manhattan     261575                0

In [202]:
zipcode_file
borough_list

['BROOKLYN', 'QUEENS', 'BRONX', 'STATEN ISLAND', 'MANHATTAN']

In [184]:
city_data_df

,Unique Key,Created Date,Closed Date,Complaint Type,Incident Zip,Status,Borough
0,37373693,2017-10-06 09:19:56,2017-10-17 16:17:58,ELECTRIC,11218,Closed,BROOKLYN
1,37373694,2017-10-06 21:04:04,2017-10-12 16:34:30,HEAT/HOT WATER,11206,Closed,BROOKLYN
2,37373694,2017-10-06 21:04:04,2017-10-12 16:34:30,HEAT/HOT WATER,11206,Closed,BROOKLYN
3,37373696,2017-10-07 15:32:11,2017-10-12 02:07:48,PLUMBING,11224,Closed,BROOKLYN
4,37373696,2017-10-07 15:32:11,2017-10-12 02:07:48,PLUMBING,11224,Closed,BROOKLYN
5,37373697,2017-10-06 22:01:49,2017-10-19 14:05:58,PLUMBING,11207,Closed,BROOKLYN
6,37373697,2017-10-06 22:01:49,2017-10-19 14:05:58,PLUMBING,11207,Closed,BROOKLYN
7,37373698,2017-10-06 09:26:06,2017-10-11 21:51:16,HEAT/HOT WATER,11436,Closed,QUEENS
8,37373698,2017-10-06 09:26:06,2017-10-11 21:51:16,HEAT/HOT WATER,11436,Closed,QUEENS
9,37373699,2017-10-06 13:32:29,2017-10-13 14:42:51,ELECTRIC,10033,Closed,MANHATTAN
10,37373699,2017-10-06 13:32:29,2017-10-13 14:42:51,ELECTRIC,10033,Closed,MANHATTAN
11,37725654,2017-11-17 09:42:00,2017-11-18 09:55:00,Request Large Bulky Item Collection,11417,Closed,QUEENS
12,37725654,2017-11-17 09:42:00,2017-11-18 09:55:00,Request Large Bulky Item Collection,11417,Closed,QUEENS
13,37725660,2017-11-17 15:17:10,2018-01-03 08:54:39,Taxi Complaint,10013,Closed,MANHATTAN
14,37725661,2017-11-17 18:13:54,2017-12-27 09:04:21,Taxi Complaint,10028,Closed,MANHATTAN
15,37725661,2017-11-17 18:13:54,2017-12-27 09:04:21,Taxi Complaint,10028,Closed,MANHATTAN
16,37373932,2017-10-07 10:05:00,2017-10-14 08:45:00,Noise,10010,Closed,MANHATTAN
17,37373932,2017-10-07 10:05:00,2017-10-14 08:45:00,Noise,10010,Closed,MANHATTAN
18,37373937,2017-10-07 11:13:00,2017-10-13 12:00:00,Sanitation Condition,11208,Closed,BROOKLYN
19,37373937,2017-10-07 11:13:00,2017-10-13 12:00:00,Sanitation Condition,11208,Closed,BROOKLYN
20,37373938,2017-10-06 18:19:00,2017-10-07 12:00:00,Dirty Conditions,11215,Closed,BROOKLYN
21,37373938,2017-10-06 18:19:00,2017-10-07 12:00:00,Dirty Conditions,11215,Closed,BROOKLYN
22,37373939,2017-10-06 17:53:00,2017-10-07 12:00:00,Dirty Conditions,11368,Closed,QUEENS
23,37373939,2017-10-06 17:53:00,2017-10-07 12:00:00,Dirty Conditions,11368,Closed,QUEENS
24,37373941,2017-10-06 14:37:00,2017-10-07 12:00:00,Missed Collection (All Materials),11223,Closed,BROOKLYN
25,37373941,2017-10-06 14:37:00,2017-10-07 12:00:00,Missed Collection (All Materials),11223,Closed,BROOKLYN
26,37373942,2017-10-07 11:58:00,2017-10-11 12:00:00,Missed Collection (All Materials),11378,Closed,QUEENS
27,37373942,2017-10-07 11:58:00,2017-10-11 12:00:00,Missed Collection (All Materials),11378,Closed,QUEENS
28,37373945,2017-10-06 22:03:00,2017-10-18 12:00:00,Dirty Conditions,11229,Closed,BROOKLYN
29,37373945,2017-10-06 22:03:00,2017-10-18 12:00:00,Dirty Conditions,11229,Closed,BROOKLYN
...,...,...,...,...,...,...,...
45482,37377027,2017-10-07 00:00:00,2017-10-16 00:00:00,Rodent,10025,Closed,MANHATTAN
45483,37377028,2017-10-07 00:00:00,2017-10-18 00:00:00,Rodent,11209,Closed,BROOKLYN
45484,37377029,2017-10-07 11:07:51,2017-10-23 09:27:36,GENERAL,10453,Closed,BRONX
45485,37377030,2017-10-06 20:30:37,2017-10-13 10:03:26,GENERAL,11220,Closed,BROOKLYN
45486,37377033,2017-10-07 16:46:02,2017-10-13 02:06:09,HEAT/HOT WATER,11212,Closed,BROOKLYN
45487,37377039,2017-10-06 05:42:50,2017-10-10 02:07:12,HEAT/HOT WATER,10466,Closed,BRONX
45488,37377068,2017-10-07 08:26:00,2017-10-07 12:00:00,Missed Collection (All Materials),11204,Closed,BROOKLYN
45489,37377075,2017-10-07 07:09:40,2017-11-20 00:00:00,Building/Use,11420,Closed,QUEENS
45490,37771990,2017-11-24 10:12:00,2017-11-24 20:54:00,Request Large Bulky Item Collection,11385,Closed,QUEENS
45491,37377079,2017-10-07 14:32:20,2017-10-12 00:00:00,Elevator,11221,Closed,BROOKLYN
45492,37377080,2017-10-07 10:55:50,2017-10-13 00:00:00,General Construction/Plumbing,10309,Closed,STATEN ISLAND
45493,37377081,2017-10-06 14:49:38,2017-10-13 09:58:49,PAINT/PLASTER,11204,Closed,BROOKLYN
45494,37377082,2017-10-06 11:29:18,2017-10-18 07:35:03,PAINT/PLASTER,10302,Closed,STATEN ISLAND
45495,37377084,2017-10-06 13:46:02,2017-11-05 11:39:16,PAINT/PLASTER,10029,Closed,MANHATTAN
45496,37377085,2017-10-06 20:16:21,2017-10-30 09:18:18,PLUMBING,10460,Closed,BRONX
45497,37377086,2017-10-06 14:44:16,2017-10-17 16:33:08,PLUMBING,10458,Closed,BRONX
45498,37772000,2017-11-24 10:39:00,2017-11-25 09:12:00,Request Large Bulky Item Collection,11417,Closed,QUEENS
45499,37377090,2017-10-07 23:01:45,2017-10-22 09:56:02,PLUMBING,10028,Closed,MANHATTAN
45500,37377091,2017-10-07 15:52:43,2017-10-30 16:44:27,SAFETY,11213,Closed,BROOKLYN
45501,37377092,2017-10-07 11:42:57,2017-10-18 21:17:44,UNSANITARY CONDITION,11435,Closed,QUEENS
45502,37377093,2017-10-06 11:20:42,2017-10-23 15:30:23,UNSANITARY CONDITION,10023,Closed,MANHATTAN
45503,37772099,2017-11-24 09:47:36,2017-12-20 07:29:28,Street Sign - Damaged,10312,Closed,STATEN ISLAND
45504,37772105,2017-11-24 07:11:14,2018-01-24 06:21:27,Food Establishment,11354,Closed,QUEENS
45505,37772106,2017-11-24 13:15:35,2017-11-28 15:41:55,Sidewalk Condition,11370,Closed,QUEENS
45506,37772107,2017-11-25 01:29:02,2017-12-18 10:24:06,Curb Condition,10305,Closed,STATEN ISLAND
45507,37772113,2017-11-24 17:42:58,2017-12-04 11:37:31,Sidewalk Condition,11355,Closed,QUEENS
45508,37377094,2017-10-06 15:30:45,2017-10-22 18:21:14,UNSANITARY CONDITION,10460,Closed,BRONX
45509,37377099,2017-10-06 04:39:02,2017-10-23 08:44:51,UNSANITARY CONDITION,10456,Closed,BRONX
45510,37377109,2017-10-07 07:29:00,2017-10-11 00:00:00,Request Large Bulky Item Collection,11229,Closed,BROOKLYN
45511,37377110,2017-10-08 00:52:00,2017-10-13 00:00:00,Request Large Bulky Item Collection,11215,Closed,BROOKLYN

In [185]:
queens_pop

In [223]:



# df.groupby("Borough").size()/population

Borough
BRONX             8699
BROOKLYN         14437
Borough             17
MANHATTAN         7738
QUEENS           11108
STATEN ISLAND     2061
Unspecified        973
dtype: int64

In [224]:
# def create_complaint_total_object():
#     pop_obj = {}
#     for index, row in 
# for index, row in populations_df.iterrows():

In [229]:
total_complaints_borough = city_data_input_file.groupby("Borough").size().to_dict()
total_complaints_borough

{'BRONX': 8699,
 'BROOKLYN': 14437,
 'Borough': 17,
 'MANHATTAN': 7738,
 'QUEENS': 11108,
 'STATEN ISLAND': 2061,
 'Unspecified': 973}

In [260]:
total_complaints_data_frame = pd.DataFrame.from_dict(total_complaints_borough, orient='index', columns=['Complainer Totals'])

total_complaints_data_frame

               Complainer Totals
BRONX                       8699
BROOKLYN                   14437
Borough                       17
MANHATTAN                   7738
QUEENS                     11108
STATEN ISLAND               2061
Unspecified                  973

In [308]:
pop_dict['MANHATTAN'][0]

'261575'

In [338]:
total_complaints_borough["BRONX"]

populations #
pop_dict = population_df.to_dict()
brooklyn_pop = pop_dict['BROOKLYN'][0]
queens_pop = pop_dict['QUEENS'][0]
bronx_pop = pop_dict['BRONX'][0]
si_pop = pop_dict['STATEN ISLAND'][0]
manhattan_pop = pop_dict['MANHATTAN'][0]

complainer_totals = {
    'BROOKLYN': int(total_complaints_borough['BROOKLYN']),
    'QUEENS': int(total_complaints_borough['QUEENS']),
    'BRONX': int(total_complaints_borough['BRONX']),
    'STATEN ISLAND': int(total_complaints_borough['STATEN ISLAND']),
    'MANHATTAN': int(total_complaints_borough['MANHATTAN'])    
}

brooklyn_populace = pd.DataFrame( ## brooklyn 
    {
        "Borough": "BROOKLYN",
        "Complainer Totals": complainer_totals["BROOKLYN"], 
        "Complainer-Index": complainer_totals["BROOKLYN"]/int(brooklyn_pop),
        "Population": brooklyn_pop
    }, index={0}
)


queens_populace = pd.DataFrame( ## queens 
    {
        "Borough": "QUEENS",
        "Complainer Totals": complainer_totals["QUEENS"], 
        "Complainer-Index": complainer_totals["QUEENS"]/int(queens_pop),
        "Population": queens_pop
        
        
    }, index={0}
)

bronx_populace = pd.DataFrame( ## bronx 
    {
        "Borough": "BRONX",
        "Complainer Totals": complainer_totals["BRONX"], 
        "Complainer-Index": complainer_totals["BRONX"]/int(bronx_pop),
        "Population": bronx_pop
        
    }, index={0}
)

si_populace = pd.DataFrame( ## staten island 
    {
        "Borough": "STATEN ISLAND",
        "Complainer Totals": complainer_totals["STATEN ISLAND"], 
        "Complainer-Index": complainer_totals["STATEN ISLAND"]/int(si_pop),
        "Population": si_pop
        
    }, index={0}
)

manhattan_populace = pd.DataFrame( ## staten island 
    {
        "Borough": "MANHATTAN",
        "Complainer Totals": total_complaints_borough["MANHATTAN"], 
        "Complainer-Index": complainer_totals["MANHATTAN"]/int(manhattan_pop),
        "Population": manhattan_pop
        
    }, index={0}
)

In [339]:
all_boroughs = brooklyn_populace.append([queens_populace, bronx_populace, si_populace, manhattan_populace])
all_boroughs

         Borough  Complainer Totals  Complainer-Index Population
0       BROOKLYN              14437          0.055193     261575
0         QUEENS              11108          0.026757     415151
0          BRONX               8699          0.070334     123681
0  STATEN ISLAND               2061          0.007879     261575
0      MANHATTAN               7738          0.029582     261575

In [323]:
complainer_totals['Brooklyn'] - 3

14434

In [277]:
total_complaints_borough["BRONX"]

8699

In [315]:
int(total_complaints_borough["QUEENS"])

11108

In [316]:
(int(total_complaints_borough["QUEENS"])) /3

3702.6666666666665